{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
            "components": "./src/components",
            "views": "./src/views",
            "constants": "./src/constants",
        }
      }]
    ]
  }