{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@/components": ["./components/"],
          "@/types": ["./types/"],
          "@/views": ["./views/"],
          "@/helpers": ["helpers"],
          "@/constants": ["./constants/"],
          "@/contexts": ["./contexts/"]
        }
      }]
    ]
  }